
/* GENERAL */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html{
    scroll-behavior: smooth;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  body{
      /* padding-top: 20px; */
  }

  /* HEADER */


  header{
    position:fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    /* è IMPORTANTE METTERE LE CORDINATE, quanto di usa il FIXED */
}


/* BARRA-SX */


.barra-sx{
    float: left;
    font-size: 0.8em;
    margin-top: 16px;
}

.menu-sx{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

nav ul li{
    display: inline-block;
    list-style-type: none; 
    /* vertical-align: middle; */
}

nav ul li a{
    text-decoration: none;
    color: black;
    /* padding: 0 25px; */
    margin: 15px;
}

.logo{
    display: inline-block;
    /* margin-left: 10px; */
    vertical-align: middle;
    height: 20px;
}


/* BARRA-DX */


.barra-dx{
    float: right;
    font-size: 0.8em;
}

.menu-dx{
    display: inline-block;
    /* margin-left: 620px; */
    vertical-align: middle;
    /* border: solid black 2px; */
    font-size: 15px;
}

li{
    /* display: inline-block; */
}


.button{
    background-color: rgba(0,97,255,255);
    color: white;
    text-decoration: none;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
}

.inizia{
    margin-right: 20px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}


                         /*  CORPO  */

.container{
    width: 80%;
    margin: 0 auto;
}

.container2{
    width: 70%;
    margin: 0 auto;
}

/* SEZIONE 1 */


.sfondo{
    max-height: 855px;
    /* HEIGHT-MAX per fare scendere la foto dallo sfondo */
    background-color: rgba(180,208,231,255);
    padding-top: 78px;
}

h1{
    font-size: 85px;
    /* padding-top: 70px; */
    margin-top: 90px;
}

.img-1{
    width: 900px;
    float: right;
    margin-top: 40px;
}

.paragrafo-1{
    width: 400px;
    font-size: 20px;
    margin-top: 40px;
}

p{
    display: inline-block;
    margin-bottom: 20px;
}

.fa-solid{
    font-size: 50px;
}

.inizia-la-prova{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.chiudi-piano{
    margin-top: 15px;
}


/* SEZIONE 2 */

h2{
    font-size: 50px;
    padding-top: 100px;
    margin-top: 40px;
}

.radio-button{
    display: inline-block;
    margin-top: 35px;
    margin-right: 20px;
}

.vertical{
    background-color: white;
    padding-bottom:bottom;
    min-height: 1024px;
    border: solid rgba(223,223,225,255) 1px;
    float: left;
    /* width: calc(100% / 3); */
    margin-right: 61px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 28%;
}

.user{
    font-size: 15px;
}

.fa-user-plus{
    font-size: 15px;
    
}

.cartella-img{
    font-size: 15px;
}

.fa-face-smile{
    font-size: 15px;
}

.fa-pencil{
    font-size: 15px;
}

.titolo-colonna{
    padding: 15px;
    text-align: center;
    font-weight: normal;
}


.int1-1{
    padding-bottom: 20px;
}

.int1-1-1{
    font-weight: normal;
    padding-top: 15px;
    padding-left: 20px;
}


.int1{
    padding-top: 15px;
    padding-left: 20px;
    /* padding-bottom: 20px; */
}

.int1-2{
    padding-bottom: 30px;
}

.int2{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: normal;
}

.prova-gratis{
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.oppure{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.acquista-ora{
    text-decoration: none;
    color:rgba(0,97,255,255) ;
}

div ul li a{
    text-decoration: none;
    color: black;
    /* list-style-type: none; */
}

.mezzo-hr{
    width: 15%;
    margin: 20px;
}

/* hr{
    border-color: rgba(223,223,22 5,255) 1px;
} */

.int3{
    padding-top: 15px;
    padding-left: 20px;
    margin-left: 10px;
}

.list{
    margin-bottom: 30px;
    margin-top: 20px;
    list-style-type: none;
}

.fa-check{
    font-size: 15px;
    color: rgba(0,97,255,255);
}

.horizontal{
    background-color: white;
    min-height: 250px; 
    border: solid rgba(223,223,225,255) 1px;
    width: 94.7%;
    padding-bottom: 40px;
    margin-top: 30px;
}
.int4{
    padding-top: 30px;
    padding-left: 20px;
}

.int4-1{
    padding-top: 25px;
    padding-left: 20px;
}


.int4-2{
    padding-top: 50px;
    padding-left: 20px; 
    font-weight: none; 
}


.enterprise{
    float: left;
    /* margin: 50px; */
    width: 70%;
}

.button-enterprise{
    float: left;
    width: 30%;
}


.ufficio-vendite{
    float: right;
    margin: 50px;
    margin-top: 100px;
    padding: 0 30px;
} 

.img2{
    width: 600px;
    float: left;
    margin-top: 40px;
}

.testo-laterale{
    float: left;
    max-width: 500px;
}

.partner-dropbox{
    margin-left: 50px;
    padding-bottom: 30px;
    margin-top: 65px;
}


.partner-paragrafo{
    margin-left: 50px;
    font-weight: none;
} 

.trova-partner{
    background-color: white;
    color: black;
    border:solid black 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

.row1-1{
    float: left;
    width: calc((100% / 3) - 30px);
    margin: 50px 15px;
}

.img-row{
    width: 100%;
    height: auto;
}

/* .row1-1-1{
    width: calc(100% / 3);
} */



/* .scopri-clienti{
    margin-top: 50px;
} */

.cinquecento{
    margin-bottom: 50px;

}

.container3{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.quadrato1{
    width: 30%;
    height: 500px;
    /* border: solid red 1px; */
    float: left;
}

.quadrato2{
    width: 40%;
    height: 500px;
    /* PER FAR COMPARIRE L'OVERFLOW dobbiamo impostare un ALTEZZA */
    background-color: rgba(245,245,245,255);
    float: left;
    overflow-y: auto;

}

.quadrato3{
    width: 30%;
    height: 500px;
    /* border: solid red 1px; */
    float: left;
}

.rettangolo{
    width: 100%;
    height: 350px;
    background-color: rgba(180,208,231,255);
    float: none;
}


/* QUADRATO 1 */

.quadratino1{
    width: 50%;
    height: 250px;
    background-color: rgba(162,211,155,255);
    float: left;
}

.img-quadratino1{
    width: 150px;
    margin-left: 50px;
    margin-top: 100px;
}

.quadratino2{
    width: 50%;
    height: 250px;
    background-color: rgba(97,8,43,255);
    float: left;
}


.img-quadratino2{
    width: 130px;
    margin: 70px;
    margin-top: 70px;
}

.quadratino3{
    width: 50%;
    height: 250px;
    background-color: rgba(0,147,206,255);
    float: left;
}

.img-quadratino3{
    width: 150px;
    margin-left: 50px;
    margin-top: 100px;
}

.quadratino4{
    width: 50%;
    height: 250px;
    background-color: rgba(255,28,28,255);
    float: left;
}

.img-quadratino4{
    width: 150px;
    margin: 50px;
    margin-top: 80px;
}


/* QUADRATO 2 */

.img-quadrato2{
    width: 150px;
    margin-top: 50px;
    margin-left: 60px;
}

.hr-quadrato{
    width: 80px;
    margin-left: 50px;
    margin-top: 30px;
}

.paragrafo-cinquecento{
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
}


/* QUADRATO 3 */

.quadratino5{
    width: 50%;
    height: 250px;
    background-color:rgba(213,0,31,255);
    float: left;
}

.quadratino6{
    width: 50%;
    height: 250px;
    background-color:rgba(180,208,231,255);
    float: left;
}

.img-quadratino6{
    width: 150px;
    margin-left: 50px;
    margin-top: 120px;
}


.quadratino7{
    width: 50%;
    height: 250px;
    background-color:rgba(13,36,129,255);
    float: left;
}

.quadratino8{
    width: 50%;
    height: 250px;
    background-color:rgba(255,216,48,255);
    float: left;
}

.img-quadratino8{
    width: 150px;
    margin-left: 50px;
    margin-top: 80px;
}

/* RETTANGOLO */

.azienda-drop{
    color: rgba(97,8,43,255);
    float: left;
    margin-left: 235px;
}

.inizia-prova{
    background-color: white;
    color: black;
    float: right;
    margin: 150px;
    margin-right: 400px;
    padding-left: 50px;
    padding-right: 50px;
}


/* DOMANDE FREQUENTI */

.domande{
    margin-top: 120px;
}

.domande-frequenti{
    margin-bottom: 30px;
    font-size: 30px;
}

.differenza{
    margin-top: 15px;
    font-weight: bold;
}

.piano-standard{
    display: none;
}

.piano-standard:hover{
    display: block;
}











    










